

:root {
  --primary-color: #4b4c4d;
  --secondary-color: #E49B0F;
  --tertiary-color: #FAC898;
  --alternative-color: #aaa;
  --alternative-color-2: #FFE5B4;
  --hover-color: #FFDEAD;
  --hover-color-2: #ff7f50;
  --bg-color: #8b4513;
  --bg-color-2: #da8a67;

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: var(--tertiary-color);
}


.contact
{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.contact .content
{
  max-width: 800px;
  text-align: center;

}

.contact .content h2
{
  font-size:36px;
  font-weight: 500;
  color: var(--alternative-color-2);
}

.contact .content p {
  font-size: 10px;
  font-weight: 300;
  color: var(--alternative-color-2);
}

.contact .content #span {
  font-size: 15px;
  font-weight: bold;
  color: var(--alternative-color-2);
  font-family: 'Poppins',
  sans-serif;
}


.contactForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.contactForm .top {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contactForm .top input {
  width: 45%;
  font-size: 20px;
  color: var(--primary-color);
  padding: 10px;
  border: 2px solid var(--tertiary-color);
  outline-color: var(--alternative-color);
  border-radius: 5px;
}

.contactForm  textarea {
  width: 100%;
  font-size: 20px;
  color: var(--primary-color);
  height: 100px;
  padding: 10px;
  border: 2px solid var(--tertiary-color);
  outline-color: var(--alternative-color);
  border-radius: 5px;
  margin-bottom: 30px;
  resize: none;
}

.contactForm  button {
  background: var(--bg-color);
  font-family: 'Source Sans Pro',
  sans-serif;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-out,
  color 0.2s ease-out;
}

.contactForm button:hover{
  transition: background-color 0.3s ease-in;
  background-color: var(--bg-color);
  color: var(--hover-color-2);
}


@media (max-width: 1200px) {
  .content {
    flex-direction: column;
  }

  .contactForm form {
    width: 90%;
  }

  .contactForm .top {
    width: 100%;
  }

  .contactForm .top input {
    width: 49%;
  }

}

@media (max-width: 520px) {
  .contactForm  .top {
    flex-direction: column;
    height: 110px;
    margin-bottom: 10px;
  }

  .contactForm  .top input {
    width: 100%;
  }

  .contactForm  textarea {
    margin-bottom: 10px;
  }
}

